<div class="heading-wrapper">
  <div class="heading-meta">
    <div class="heading-label"><%= data.label ? data.label : 'Heading 01' %></div>
    <div class="heading-font"><%= data.font ? data.font : 'this is a font' %></div>
    <div class="heading-size"><%= data.size ? data.size : '22px' %></div>
  </div>
  <div class="heading-example">
    <<%= data.heading ? data.heading : 'h1' %>><%= data.text ? data.text : 'The five boxing wizards jump quickly.' %></<%= data.heading ? data.heading : 'h1' %>>
  </div>
</div>
