<%- include('../partials/header.ejs') -%>

<button id="navToggle" class="<%- styles['nav-toggle'] -%>" type="button">
  <span class="<%- styles['icon-bar'] -%>"></span>
  <span class="<%- styles['icon-bar'] -%>"></span>
  <span class="<%- styles['icon-bar'] -%>"></span>
</button>

<div class="<%- styles.brand -%>"><a href="<%- meta.serverPath -%>" class="<%- styles.logo -%>"></a></div>

<% if (meta.repository) { %>
<a href="<%- meta.repository -%>" title="<%- meta.title -%> Github Repo" target="_blank" class="<%- styles.github -%>"></a>
<% } %>

<aside id="offCanvasNav" class="<%- styles.sidebar -%>">
  <nav class="<%-styles.navigation-%>">
    <ul class="<%- styles.ul -%>">
      <% meta.navigation.forEach((item) => { %>
      <li class="<%- styles.li -%> <%= (item.key === key || item.key === parentKey) ? styles.active : '' %>">
        <a href="<%= (meta.production) ? meta.serverPath : '/' %><%-item.url-%>" title="<%-item.title-%>" class="<%- styles.a -%>"><%-item.title-%></a>
        <% if (item.children) { %>
        <ul class="<%- styles.ul -%>">
          <% item.children.forEach((child) => { %>
          <li class="<%- styles.li -%> <%= (child.key === key) ? styles.active : '' %>">

            <a href="<%= (meta.production) ? meta.serverPath : '/' %><%-child.url-%>" title="<%-child.title-%>" class="<%- styles.a -%>">
              <%-child.title-%>
            </a>

          </li>
          <% }); %>
        </ul>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </nav>
</aside>

<section class="<%- styles.main -%>">
  <article>

    <% if (hasAnchors) { %>
    <div class="<%- styles.anchors -%>" data-gumshoe>
      <% contents.forEach((item, index) => { %>
      <% if (item.title) { %>
      <a href="#<%- item.key -%>" class="<%- styles.a -%>" data-scroll><%- item.title -%></a>
      <% } %>
      <% }); %>
    </div>
    <% } %>
    <% if (parentKey) { %>
    <% meta.navigation.forEach((item, index) => { %>
    <% if (item.key === parentKey) { %>
    <h1 class="<%-styles['page-header']-%> <%- styles.h1 -%>" data-gumshoe-header><%- item.title -%></h1>
    <% } %>
    <% }); %>
    <% } else { %>
    <h1 class="<%-styles['page-header']-%> <%- styles.h1 -%>" data-gumshoe-header><%- title -%></h1>
    <% } %>

    <% contents.forEach((item, index) => { %>
    <%- item.content -%>
    <% }); %>
  </article>
</section>

<%- include('../partials/footer.ejs') -%>
